.App {
  text-align: center;
    background-color: #99c2ff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

h1 {
  margin:5%;
}

h3 {
  margin-top: -5%;
  font-style: oblique;
}

.appAuthor{
  font-size: calc(7px + 2vmin);
  margin-top:-5%;
  font-style: italic;
}
