#quote-box {
  border: white;
  background-color: white;
  width: 80%;
  min-width: 250px;
  /*min-height: 300px;*/
  font-size: calc(10px + 2vmin);
  padding: 3%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.text-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}


#author {
  align-self: flex-end;
  font-style: italic;
  font-weight: bold;
  font-family: 'Srisakdi', cursive;
}


#tweeter {
  align-self: flex-start;
  height: 25px;
}
