#quote-box {
  border: white;
  background-color: white;
  width: 70%;
  min-width: 250px;
  font-size: calc(10px + 2vmin);
  padding: 3%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}


#author {
  align-self: flex-end;
  font-style: italic;
  font-weight: bold;
  font-family: 'Srisakdi', cursive;
}


.twitterQuote {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.twitterFav {
  color: #99c2ff;
}

#new-quote {
color: #fff !important;
text-transform: uppercase;
background: #ed3330;
padding: 16px;
border-radius: 5px;
border: none;
cursor: pointer ;
font-size: calc(8px + 2vmin);
}

#new-quote:hover {
background: #434343;
letter-spacing: 1px;
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
